*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/projectFilesBackup2/.idea/workspace.xml
app/libs/
app/src/main/res/drawable/
projectFilesBackup/
projectFilesBackup2/
